{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABCD</title>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.1-web/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'dist/assets/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'dist/assets/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <script>

        function getCookie(name){
            var cookieArr= document.cookie.split(';');

            for(var i=0; i< cookieArr.length; i++){
                var cookiePair= cookieArr[i].split('=');

                if(name==cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);

                }
            }
            return null;
        }
        var cart= JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('Cart was created')
            document.cookie = 'cart= ' + JSON.stringify(cart) + ';domain=;path=/'
        }
        console.log('cart:',cart)
    </script>
</head>
<body>
    <header id="header">
        <nav class="user_nav">
            <div class="container" id="user_nav">
                <!-- <div class="logo"></div> -->
                <img src="{% static 'imgs/logo.png'%}" alt="logo" class="logo">
                <!-- User Panel in nav -->
                <!-- <i class='fas fa-hamburger hamburger'> -->
                    <ul id="user_panel">
                        <li class="dropdown_opener">
                            <i class="fas fa-user"></i>
                            <ul class='inner_dropdown'>
                              {% if user.is_authenticated %}
                                <li class='sign-in'><a href="{% url 'profile' user.username %}">حسابي</a></li>
                                <li><a href="{% url 'user_logout' %}">تسجيل خروج</a></li>
                                <li>السلام عليكم</li>
                                <li>السلام عليكم</li>
                                <li>السلام عليكم</li>
                                <li>السلام عليكم</li>
                                <li>السلام عليكم</li>
                                {%else%}
                                <li><a href="{% url 'user_login' %}">تسجيل دخول</a></li>
                                {%endif%}
                            </ul>
                        </li>

                        <li><a href="#"><i class="fas fa-globe"></i></a></li>

                        <li><a href="{% url 'orderlist'%}"><i class="fas fa-shopping-cart"></i></a></li>
                        <li>{{cart_items}}</li>

                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    </ul>
            </div>
        </nav>

        <nav class="categories_nav">
          <div id="categories_nav" class="container">
              <!-- Categories in nav -->
              <!-- <div class="categories_container"> -->
                  <i class="fas fa-hamburger hamburger" id=hamburger>
                  </i>
                  <ul class="categories_ul">
                      <i class="fas fa-arrow-up" id="close"></i>
                      <li><a href="{% url 'index'%}">الرئيسية</a></li>
                      {%for category in categories%}
                        <li><a href="#">{{category.category_name}}</a></li>
                      {%endfor%}
                      
                  </ul>
              <!-- </div> -->
              <form action="">
                  <div class="input">
                      <label for="search_categories" id='search_categories_label'>
                          <i class="fa fa-search"></i>
                      </label>
                      <input type="search" name="search_categories" id="search_categories">
                  </div>
              </form>
          </div>
      </nav>
  </header>

  {%block index%}
  {%endblock index%}
  {% block details%}
  {% endblock details%}
  {% block profile%}
  {% endblock profile%}
  {% block orderlist%}
  {% endblock orderlist%}
  {% block login%}
  {% endblock login%}
  {%block register%}
  {%endblock register%}
  {% block checkout%}
  {% endblock checkout%}

  <!-- Footer -->
<!-- Start footer -->
<footer id="footer" class='footer'>
    <div class="container">
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div class="info">
            <p>الحقوق محفوظة لدى <a href="#">دعاء</a></p>
            <p>صممه  <a href="#">محمد</a></p>
        </div>
    </div>
</footer>
<!-- End footer -->
<script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'dist/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/code.js'%}"></script>
    <script src="{% static 'js/cart.js'%}"></script>
</body>
</html>




































  