{% extends 'core/hf.html'%}
{%block index%}
    <!-- Start Hero -->
    <section id="hero">
        <div class="owl-carousel">

            <div class="slider_img">
                <img src="https://img.freepik.com/free-vector/elegant-purple-alcohol-ink-background_41066-1460.jpg?w=1380&t=st=1663858344~exp=1663858944~hmac=51f3703725ffcb907d87883f633ab96265505a5cecedba7814ceec9c8254923c" alt="hello">
                <div class="container">
                    <h1>الجزيرة </h1>
                    <h2>متجر متخصص بألعاب الأطفال الهادفة التي تحفز طفلك على التعلم المبكر والابداعي وتنمية قدراته الفكرية والعقلية بالإضافة الى الألعاب الرياضية و الترفيهية</h2>
                    <button class='sign-in'>تسجيل الدخول</button>
                </div>
            </div>

            <div class="slider_img">
                <img src="https://img.freepik.com/free-vector/elegant-purple-alcohol-ink-background_41066-1460.jpg?w=1380&t=st=1663858344~exp=1663858944~hmac=51f3703725ffcb907d87883f633ab96265505a5cecedba7814ceec9c8254923c" alt="hello">
                <div class="container">
                    <h2>متجر متخصص بألعاب الأطفال الهادفة التي تحفز طفلك على التعلم المبكر والابداعي وتنمية قدراته الفكرية والعقلية بالإضافة الى الألعاب الرياضية و الترفيهية</h2>
                    <button class='sign-in'>تسجيل الدخول</button>
                </div>
            </div>
            
        </div>
    </section>

    <!-- Start Products -->    
    <section id="products">
        <div class="container">
            <!-- Start Filters -->
                <div class="filters" id="filters">
                    <div class="categories_filters second-slider owl-carousel">
                        <p data-category-name="all" class='active'>الكل</p>
                        {%for category in categories%}
                        <p data-category-name="{{category.category_name}}">{{category.category_name}}</p>
                        {%endfor%}
                    </div>
                </div>
            <!-- End Filters -->

            <div class="procucts_grid">
            {% for product in products %}
                <div class="product" data-category="all">
                    <div class="img_holder">
                        <a href="{% url 'product_details' product.pk%}">
                            <img src="{{ MEDIA_URL }}{{product.image.url}}" alt="prodcut">
                        </a>
                    </div>
                    <div class="details">
                        <div class="prices">
                            <span class="old-price">350</span>
                            <span class="current-price">{{product.price}}</span>
                        </div>
                        <a href="#">
                            <div class="product_name">{{product.name}}</div>
                        </a>                        
                        <button class="add_cart"><a href="{% url 'add_to_cart' product.pk%}">إضافة إلى السلة</a></button>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
    </section>
    <!-- End Products -->
{%endblock index%} 