{% extends 'core/hf.html'%}
{%load static%}
{% block details%}

    <h1>{{product.name}}</h1>
    <div class="container prodcut-page-container">
        <div class="img owl-carousel">
            {% for i in images %}
                <img src="{{ MEDIA_URL }}{{i.image.url}}" alt="{{product.name}}">
            {% endfor %}
        </div>
        <div class="details">
            <h2>Details</h2>
            <p>{{product.description}}</p>
            <p>dolores!</p>
            <div class="state avaliable"></div>
            <div class="prices">
                <span class="old-price">350</span>
                <span class="current-price">{{product.price}}</span>
            </div>
            <form action="">
                <input type="number" min="0" value='1'>
                <input type="submit" value='Add to cart'>
            </form>
        </div>
    </div>


{% endblock details%}