{% extends 'core/hf.html'%}
{%load static%}
{% block details%}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>تفاصيل المنتج</h2>
          <ol>
            <li><a href="index.html">الرئيسية</a></li>
            <li>تفاصيل المنتج</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{ MEDIA_URL }}{{product.image.url}}" alt="صورة هنا">
                </div>

                <!-- <div class="swiper-slide">
                  <img src="{% static 'img/portfolio/portfolio-details-2.jpg'%}" alt="صورة هنا">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'img/portfolio/portfolio-details-3.jpg'%}" alt="صورة هنا">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>وصف المنتج</h3>
              <ul>
                <li><strong>الصنف</strong>: {{Category.category_name}}</li>
                <li><strong>الاسم </strong>: {{product.name}}</li>
                <li><strong>السعر </strong>: {{product.price}} ر.ي</li>

                <li><strong>شراء المنتج</strong>: <a href="#">اضف للسلة</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2></h2>
              <p>
              {{product.description}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock details%}
