/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/
html {
    overflow-X: hidden;
    direction: rtl;
}

@import url('https://fonts.googleapis.com/css2?mily=Cairo:wght@200;300;400;500;600&display=swap');
.none.none.none.none.none.none.none.none.none.none.none.none.none.none.none    {display:  none !important}
.owl-dots {display:  none !important}
.block.block.block.block.block.block.block.block.block.block.block.block.block {display: block !important}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.fa-search {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    --main:  #a49fd3;
    --main_bg: #240050;
    font-family: 'Cairo', sans-serif;
}

.container {
    width: min(100% - 3rem, 1200px);
    margin: auto;
}

.user_nav {
    background: var(--main_bg);
}

header#header #user_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header#header #user_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header#header #user_nav > ul { 
    display: flex;
}

header#header #user_nav > ul > li{
    margin: 0 10px;
}

header#header #user_nav ul li.dropdown_opener ul {
    z-index: 100;
}

header#header #user_nav li.dropdown_opener {
    position: relative;
}

header#header #user_nav li.dropdown_opener ul.inner_dropdown {
    /* display: none; */
    transform-origin: top right;
    transform: scale(0);
    opacity: .5;
    transition: .3s ease-in;
    position: absolute;
    width: 150px;
    right: -20px;
    top: 29px;
    z-index: 100;
    box-shadow: 0px 10px 10px rgba(45, 0, 104, 0.233);
}

header#header #user_nav li.dropdown_opener  ul.inner_dropdown li {
    padding: 10px;
    background: var(--main_bg);
    transition: .3s;
    color: var(--main);
    font-size: .7rem;
}

header#header #user_nav li.dropdown_opener  ul.inner_dropdown li.sign-in {
    color: var(white);
    /* border-bottom: 2px solid #333; */
    text-align: center;
}

header#header #user_nav li.dropdown_opener  ul.inner_dropdown li.sign-in > a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid var(--main);
    padding: 0 15px;
}

header#header #user_nav li.dropdown_opener  ul.inner_dropdown li:not(:first-child) {
    /* border-top: 1px solid var(--main); */
}

header#header #user_nav li.dropdown_opener  ul.inner_dropdown li:not(.sign-in):hover {
    background:  var(--main);
    padding-right: 20px;
    color: var(--main_bg)
}


header#header #user_nav li.dropdown_opener:hover ul.inner_dropdown {
    opacity: 1;
    transform: scale(1);
}

header#header #user_nav .logo {
    height: min(70px, 85%);
}

header#header #user_nav #user_panel i {
    color: var(--main);
    transition: .2s
}

header#header #user_nav #user_panel i:hover {
    transform: scale(1.2);
}

/* categories_nav */

header#header .categories_nav {
    background: var(--main);
}

header#header #categories_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

header#header .categories_nav i.hamburger {
    display: none;
}

header#header .categories_nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

header#header .categories_nav ul li {
    margin: 6px;
}

header#header .categories_nav ul li a {
    text-decoration: none;
    font-size: .8rem;
    position: relative;
    color: var(--main_bg);
}

header#header .categories_nav ul li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main_bg);
    bottom: -3px;
    right: 0;
    transition: .3s;
}

header#header .categories_nav ul li a:hover:before {
    width: 100%;
}

header#header .categories_nav ul i#close {
    display: none;
}

header#header .categories_nav form .input {
    position: relative;
}

header#header .categories_nav form .input input{
    position: relative;
    padding: 5px 10px;
    border: none;
    background: var(--main_bg);
    border-radius: 3px;
    color: var(--main);
    font-size: .8rem;
    transition: .2s;
}

header#header .categories_nav form input:focus {
    outline: none;
    direction: rtl;
    background: #240050de;
    transform: scale(1.01);
}

header#header .categories_nav form .input label {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    z-index: 10;
    cursor: pointer;
}

@media (max-width: 768px) {
    header#header #user_nav  {
        /* justify-content: center; */
    }

    header#header #user_nav  #user_panel {
        /* position: absolute;
        display: flex;
        flex-flow: column; */
    }

}
@media (max-width: 576px) {
    header#header #user_nav {
        flex-direction: column;
    }

    /* header#header .categories_nav #categories_nav .categories_container {
        position: relative;
    } */

    header#header .categories_nav #categories_nav form {
        flex: 8;
    }

    header#header .categories_nav #categories_nav form input {
        width: 100%;
    }

    header#header .categories_nav #categories_nav i.hamburger {
        display: block;
        cursor: pointer;
        font-size: 1.3rem;
        background: linear-gradient(to bottom, yellow 50%, red 50% 75% ,yellow 75%);
        color: transparent;
        -webkit-background-clip: text;
        flex: 1;
    }

    header#header .categories_nav #categories_nav .categories_ul {
        position: absolute;
        flex-direction: column;
        width: 100%;
        right: 0;
        height: 100vh;
        background: #787;
        top: -50px;
        text-align: center;
        justify-content: stretch;
        transition: .3s;
        /* display: none; */
        transform: scaleY(0);
        transform-origin: top;
        opacity: .5;
        z-index: 1000;
    }
    
    header#header .categories_nav #categories_nav .categories_ul.shown {
        /* right: 0; */
        transform: scaleY(1);
        z-index: 11;
        opacity: 1;
        top: 0;
    }

    header#header .categories_nav #categories_nav .categories_ul li {
        background: #892;
        margin: 0;
        padding: 20px;
        margin-bottom: 10px;
    }

    header#header .categories_nav #categories_nav .categories_ul li:hover {
        background: #8925;
    }

    header#header .categories_nav #categories_nav .categories_ul li:hover:before {
        height: 1px;
    }
    
    header#header .categories_nav ul i#close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: red;
        transition: .3s;
    }

    header#header .categories_nav ul i#close:hover {
        transform: scale(1.3) rotate(180deg);
    }
}

/* End header (hope so..) */
/* Start Hero  */
#hero {
    height: 70vh;
    background-size: cover;
    text-align: center;

}

#hero .slider_img {
    height: 70vh;
    position: relative;
    display: grid;
    place-items: center;
}

#hero .slider_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .sign-in {
    width: 100px;
    padding: 10px 20px;
    border-radius: 3px ;
    border: none;
    color: white;
    background: linear-gradient(to right, #f005, #00f5, #0f05);
    cursor: pointer;
    transition: .3s;
    border: 3px solid;
    animation: border 2s ease-in 0s infinite alternate;
    border: none;
    margin-top: 20px;
}

#hero .slider_img h1,h2{
    margin-top: 20px;
    color: white;
}
/* End Hero */

/* Start Products */

section#products {
    padding: 20px;
}

section#products .filters .categories_filters {
    direction: ltr;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
}

section#products .filters .categories_filters li {
    /* margin: 0 20px; */
    /* padding: 10px 20px; */
    border: 2px solid #333;
    text-align: center;
    
}

section#products .filters .categories_filters img {
    cursor: pointer;
    transition: .3s;
    width:  70px;
    height: 70px;
    opacity: .4;
    margin: auto;
}

section#products .filters .categories_filters img.active {
    opacity: 1;
}

section#products .procucts_grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

section#products .procucts_grid .product {
    height: 350px;
    border: 2px solid #3735;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

section#products .procucts_grid .product::before {
    content: attr(data-category);
    margin-top: 10px;
}

section#products .procucts_grid .product .img_holder {
    height: 200px;
    position: relative;
}

section#products .procucts_grid .product .img_holder img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* object-fit: cover; */
    /* object-position: center; */
}

section#products .procucts_grid .product .details {
    margin: 20px 0;
}

section#products .procucts_grid .product .details > *{
    margin-top: 10px;
}

section#products .procucts_grid .product .details .prices {
    display: flex;
    justify-content: center;
    user-select: none;
}

section#products .procucts_grid .product .details .prices > *{
    margin: 10px;
    display: block;
}

/* section#products .procucts_grid .product .details .prices .old-price {} */

section#products .procucts_grid .product .details a {
    color: #333;
    text-decoration: none;
}

section#products .procucts_grid .product .details a:hover {
    color: green;
    text-decoration: underline;
}

section#products .procucts_grid .product .details button.add_cart {
    background: #338833;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
}

section#products .procucts_grid .product .details button.add_cart:hover {
    background: #336633;
    cursor: pointer;
}


/* End Products */


/* Start Footer */

footer#footer.footer {
    background: var(--main_bg);
    padding: 20px;
}

footer#footer.footer ul {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer#footer.footer ul {
    list-style: none;
    margin: 0;

}

footer#footer.footer ul li a {
    margin: 0 20px;
    font-size: 2rem;
    color: var(--main);
}

footer#footer.footer ul li a i:hover {
    transition: .3s;
    transform: scale(1.3);
    color: white;
}

footer#footer.footer .info {
    text-align: center;
    font-size: 1rem;
    color: white;
}

footer#footer.footer .info a {
    color: var(--main);
}

footer#footer.footer a:hover {
    color: white;
}

/* End Footer */

/* Start Product */
.prodcut-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.prodcut-page-container .img {
    display: flex;
    justify-content: center;
}

.prodcut-page-container img {
    max-width: 80%;
    max-height: 80vh;
}

.prodcut-page-container .details {
    text-align: center;
}

.prodcut-page-container h2 {
    color: var(--main);
}

.prodcut-page-container .state {
    color: white;
    padding: 10px 20px;
    border: 3px solid currentColor;
    margin: 0  auto 10px;
    width: fit-content
}

.prodcut-page-container .state::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 1rem;
    margin: 0 10px;
}

.prodcut-page-container .state.avaliable {
    color: green;
}

.prodcut-page-container .state.finished {
    color: red;
}

.prodcut-page-container .state.avaliable::after{
    content: "\f00c";
}

.prodcut-page-container .state.finished::after{
    content: "\f00d";
}

.prodcut-page-container .state.avaliable::before{
    content: "avaliable";
}

.prodcut-page-container .state.finished::before{
    content: "finished";
}

.prodcut-page-container .prices {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.prodcut-page-container .prices > * {
    margin: 10px;
}

.old-price {
    color: gray;
    text-decoration: line-through;
}

.current-price {
    color: red;
    transform: scale(2);
}

.prodcut-page-container form input[type=number] {
    margin: 0px 10px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border: 3px solid var(--main_bg);
    width: 50px;
    padding: 10px 0;
    text-align: center;
    color: var(--main_bg);
}

.prodcut-page-container form input[type=number]:focus {
    outline: none;
}

.prodcut-page-container form input[type=submit] {
    padding: 10px 20px;
    border: 3px solid var(--main_bg);
    color: var(--main);
    cursor: pointer;
    background: none;
    transition: .3s;
}

.prodcut-page-container form input[type=submit]:hover {
    background: #0905;
    color: white;
}

@media (min-width: 768px) {

    h1 {
        text-align: center;
    }
    .prodcut-page-container {
        flex-direction: row;
    }
    .prodcut-page-container .img {
        flex: 5;
    }
    .prodcut-page-container .details {
        flex: 3;
    }
}

/* End Product */

/* Start Sign in  */
.logging_form {
    width: min(400px, 80%);
    margin: 10vh auto;
    padding: 20px;
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.logging_form::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(3px);
    left: 0;
    top: 0;
    background: url(https://images.unsplash.com/photo-1494216928456-ae75fd96603d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    z-index: -1;
    background-size: cover;
    background-position: center bottom;
}

.logging_form h1 {
    text-align: center;
    margin: 0;
}

.logging_form div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logging_form div label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.logging_form div input {
    padding: 10px;
    border: none;
    background: #ffffff77;
}

.logging_form div input:focus {
    outline: none;
    background: #ffffff;
}

.logging_form a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: .2s
}

.logging_form a:hover {
    text-decoration: underline;
}

/* End Sign in  */