{% extends 'core/hf.html'%}
{%load static%}
{%block login%}

    <form method="POST" class="logging_form">
        {% csrf_token %}
        <h1>تسجيل دخول</h1>
        {% if messages %}
          {% for message in messages %}
            <h4>{{message}}</h4>
          {% endfor %}
          {%endif%}
        
        <div>
            <label for="username">اسم المستخدم</label>
            <input type="text" name="username" id="username" placeholder="اسم المستخدم">
        </div>

        <div>
            <label for="password">كلمة السر</label>
            <input type="password" name="password" id="password" placeholder="كلمة السر">
        </div>
        <div>
            <input type="submit" value="دخول">
        </div>
        <a href="{% url 'user_register' %}">إنشاء حساب جديد؟</a>
    </form>

{% endblock login%}