<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/accounts.css">
    <title>New Account</title>
</head>
<body dir="rtl">
    <div class="login-box">
        <h2>انشاء حساب </h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
            {%endif%}
            <div class="user-box">
                <input type="text" name="username" id="username" required="" placeholder="اسم المستخدم">                
            </div>
            <div class="user-box">
                <input type="email" name="email" id="email" placeholder="البريد الالكتروني">               
            </div>

            <div class="user-box">
                <input type="password" name="password" id="password" required="" placeholder="كلمة المرور">
            </div>

            <div class="user-box">
                <input type="password" name="c_password" id="c_password" placeholder="اعد ادخال كلمة المرور">
                
            </div>
            <a href="#">
            <input class="s" type="submit" value="دخول">
            </a>
        </form>
        </div>
</body>
</html>